%ul#editions
- @editions.each do |edition|
  %li
    = link_to edit_edition_path(edition.id) do
      = image_tag edition.portada, :width => 50
    = link_to edition.numero, edit_edition_path(edition.id)
    - unless edition.update_complete?
      Datos incompletos